* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, black, rgb(23, 22, 22));

  section {
    height: 100%;
    width: 500px;
    margin: auto;
    padding: 20px;
    .reels {
      height: 100%;
      width: 100%;
      overflow: auto;
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        display: none;
      }

      .reel {
        height: 100%;
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        .mute {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #333;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          &:active {
            scale: 0.95;
          }
          &mute i {
            font-size: 22px;
            pointer-events: none;
          }
        }

        video {
          object-fit: cover;
          height: 100%;
          width: 100%;
          border-radius: 20px;
        }
        .bottom {
          display: flex;
          flex-direction: column;
          gap: 14px;
          width: 100%;
          padding: 30px 20px;
          background: transparent;
          position: absolute;
          bottom: 0;

          .user {
            display: flex;
            align-items: center;
            gap: 10px;
            button {
              background-color: transparent;
              padding: 2px 4px;
              font-size: 12px;
              font-weight: 500;
              border-radius: 2px;
              border: 1px solid white;
              cursor: pointer;
            }

            img {
              height: 30px;
              width: 30px;
              border-radius: 50%;
            }
            h4 {
              color: white;
              font-size: 20px;
              font-weight: 100;
            }
            button {
              padding: 3px 5px;
            }
          }
          .caption {
            h4 {
              color: white;
              font-size: 25px;
              font-weight: 100;
            }
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 80px;
          position: absolute;
          right: 0;
          bottom: 5%;
          padding: 20px;
          text-align: center;
          i,
          h4 {
            font-size: 35px;
            padding: 10px;
            font-weight: 100;
            cursor: pointer;
          }

          h4,
          h6 {
            pointer-events: none;
          }
          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50px;
            cursor: pointer;
          }
          .love {
            color: red;
          }
        }
      }
    }
  }
}
